<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmgl.blog.dao.AdminMapper" >
  <resultMap id="BaseResultMap" type="com.xmgl.blog.entity.Admin" >
    <id column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="admin_name" property="adminName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    admin_id, admin_name, password
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_admin
    where admin_id = #{adminId,jdbcType=INTEGER}
  </select>
  <select id="selectByLogin" resultType="com.xmgl.blog.entity.Admin">
    select * from tb_admin
    where admin_name = #{adminName} and password = #{password}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_admin
    where admin_id = #{adminId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xmgl.blog.entity.Admin" >
    insert into tb_admin (admin_id, admin_name, password
      )
    values (#{adminId,jdbcType=INTEGER}, #{adminName,jdbcType=VARCHAR}, #{password,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xmgl.blog.entity.Admin" >
    insert into tb_admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="adminName != null" >
        admin_name,
      </if>
      <if test="password != null" >
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="adminName != null" >
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xmgl.blog.entity.Admin" >
    update tb_admin
    <set >
      <if test="adminName != null" >
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=CHAR},
      </if>
    </set>
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xmgl.blog.entity.Admin" >
    update tb_admin
    set admin_name = #{adminName,jdbcType=VARCHAR},
      password = #{password,jdbcType=CHAR}
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>
</mapper>